---

import Navbar from './Navbar.astro';
---

<div>
	<div class="main-section">
		<div class="text-section">
			<h1 class="title">The Hominians</h1>
			<p class="text">A team with a dream to elevate the lives of others.</p>
			<p class="text">The Hominians share a common aim: to make an impact on society, especially for those <br />often neglected by authorities. To accomplish this, we have launched an online <br /> marketing platform for vendors in Thai local markets called TasteMap.</p>
			<div class="call-to-action">View Our Solution</div>
		</div>
		
		<img class="heading-photo" src="/heading-photo.png" />
	</div>
	<div class="solution-section">

	</div>
	<div class="team-section"></div>
	<div class="contact-section"></div>
</div>

<style>

	.main-section {
		display: flex;
		flex-direction: column;
		border: 1px #000000 solid;
		height: 100vh;
		box-sizing: border-box;
	}

	.text-section {
		display: flex;
		flex-direction: column;
		padding: 220px 160px;
		gap: 20px;
		line-height: 1.5;
	}

	.solution-section {
		background-color: #FB8F1F;
		height: 10em;
	}

	.text {
		margin: 0;
		padding: 0;
	}
	.title {
		font-weight: 700;
		font-size: 50px;
		margin: 0;
	}
	.call-to-action {
		color: white;
		background-color: #FB8F1F;
		padding: 10px 20px;
		font-weight: 600;
		border-radius: 8px;
		width: fit-content;
		margin-top: 20px;
	}

	.heading-photo {
		position: absolute;
		bottom: 0;
		z-index: -10;
	}
</style>
